<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>รายละเอียดสินค้า</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="edit()">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button (click)="del()">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img *ngIf="!product['no-image']" [src]="session.api+'fileUpload/'+product.product_image"
        (error)="session.imageError(product, 'no-image')">
    <img *ngIf="product['no-image']" src="assets/images/default.png">
    <h1>{{ product.product_name }}</h1>
    <p>{{ product.product_detail }}</p>
    <p>ราคา {{ product.product_price }} บาท5</p>
</ion-content>
