<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            หน้าแรก
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="loadData()">
                <ion-icon slot="icon-only" name="sync"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button (click)="scan()">สแกน 555</ion-button>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let item of product">
                <img class="product-image" src="{{ item.product_image }}">
                <div class="product-name">{{ item.product_name }}</div>
                <div class="product-price">ราคา {{ item.product_price }} บาท</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
